body {
    background-image: url(https://img.freepik.com/premium-photo/poker-table-background_77211-140.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text {
    color: #bdc44a;
    text-shadow: 0px 0px 15px rgb(74 74 74);
}

#dice {
    margin: 3rem 5rem;
}

.bi {
    font-size: 10rem;
    color: red;
    display: flex;
}

.bg-dice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: #a4aa3b;
}

.btn {
    background-color: rgb(61, 71, 255);
    color:#bdc44a;
    border-radius: 20px;
}